<nav class="navbar bg-dark">
	<div class="container-fluid">
		<span class="navbar-brand mb-0 h1 text-white">Navbar</span>
	</div>
</nav>

<div class="container mt-3">

	<table class="table table-dark table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Title</th>
				<th scope="col">Price</th>
				<th scope="col">Foto URL</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">{{products.length}}</th>
				<td>{{products.title}}</td>
				<td>{{products.price}}</td>
				<td>{{products.thumbnail}}</td>
			</tr>
		</tbody>
	</table>

</div>