<section class="mt-3">
	<div class="container">
		<h1>Centro de Mensajes</h1>
		<form onsubmit="return addMessage(this)">
			<label for="email">Email:</label><br />
			<input type="email" name="email" id="email" />
			<hr />
			<div id="message"></div>
			<label for="message">Mensaje:</label><br />
			<input type="text" name="message" id="message" />
			<button class="btn btn-primary">Enviar</button>
		</form>
	</div>
</section>
